.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 80px;
    background-color: rgb(121, 50, 233);
}

.logo-menu {
  display: inline-block;
  height: 76px;
  margin-top: 2px;
  padding: 0px 15px;
}

.menu {
  margin: 0px;
  padding: 0px;
}

.menu-item{
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
}
.menu-item:hover ul{display: block;
}
.menu-item:hover {
    background-color: #7e0782;
}


.menu-item a{
    color: beige;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
}
.dropdown-list{
    position: absolute;
    left: -60%;
    display: none;
    padding: 0;
    
}
.dropdown-item{
    background-color:rgb(121, 50, 233);
    width: 180px;
    color: white;
}
.dropdown-item:hover {
  background-color: #7e0782;
}
.review-img {
  width: 100px;
  height: 100px;
object-fit:contain;
}
.proj-img {
  width: 800px;
  height: 400px;
  object-fit: fill;
border-radius: 20px;}

.proj-img:hover {
  scale: 1.07;
}


  .main-content{
    margin: 0 0 0 0;
    margin-top: 80px;
  height: 760px;
  width: 100%;
  margin: 0;
  color: white;
  text-align: center;
  font-family: roboto, sans-serif;
  z-index:0 ;
}
.main-img{
  position: absolute;
  height: 1000px;
  width: 100%;
  object-position: center;
  object-fit: cover;
  top: 0px;
  left: 0;
  z-index: -2;
}
.main-img-overlay{
  height: 1000px;
  width: 100%;
  z-index: -1;
  background-color: rgb(12, 12, 12);
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.5;
}
.main-info{
  margin-top: 200px;
  width: 100%;
}
.main-header{
  margin-top: 0;
  font-weight: bold;
 font-size: 50px;}

.main-txt{
  font-size: 28px;
 overflow: hidden;
  text-overflow: ellipsis;
}
.main-btn{
  background-color: rgb(83, 22, 77);
  border: none;
  color: white;
text-align: center;
text-decoration: none;
  border-radius: 15px;
  display: inline-block;
  font-size: 16px;
  margin-top: 100px;
  cursor: pointer;
padding: 15px 32px;
box-shadow: 0 8px 16px 0 rgb(45, 25, 25), 0 6px 20px 0 rgb(45, 25, 25);
}
.main-btn:hover {
  background-image: linear-gradient(to bottom right, rgb(121, 50, 233), rgb(83, 22, 77));
box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
  color: white;}




  .Servicii-row{
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
    display: grid;
    align-content: space-evenly;
   
  }
 .div-column{
  text-align: center;
  border: 4px solid rgb(254, 254, 254);
  border-radius: 12px;
  padding: 10px 10px 20px 10px;
 } 
.l-grad{
  background-image: linear-gradient(to bottom right, rgba(120, 50, 233, 0.148), rgb(180, 89, 169));
  border-radius: 10px;
padding: 20px 20px 20px 20px;
}




table, tr,th, td{
  border:2px solid rgb(255, 255, 255);
  border-collapse: collapse;
}
table{
  width: 100%;
  height: 100%;
}
th{
  background-color:rgb(173, 34, 154) ;
  height: 80px;
  color: white;
  font-size: x-large;
}
td{
  background-color: rgba(211, 142, 240, 0.506);
  margin: 20px 20px 20px 20px;
  height: 50px;
  text-align: center;
}



li{
 list-style: none;
}
.bold-title-td{
  font-weight: bold;
  font-size: large;
}
.service-card-btn{
  background-color: rgb(83, 22, 77);
  border: none;
  color: white;
text-align: center;
text-decoration: none;
  border-radius: 15px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
padding: 15px 32px;
box-shadow: 0 8px 16px 0 rgb(201, 129, 213), 0 6px 20px 0 rgb(45, 25, 25);
}
.service-card-btn:hover { 
 background-image: linear-gradient(to bottom right, rgb(121, 50, 233), rgb(83, 22, 77));
box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
  color: white;}
  .div-column p{
    font-size: 18px;
    font-weight: 600;
  }
  .wrapper-line{
    padding: 20px 20px 20px 80px;
    border: 4px solid rgb(97, 17, 126);
    border-radius: 20px;
    width: 70%;
    margin: auto;
  }
  .about_sect_img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    border: 4px solid rgb(97, 17, 126);
  }
  .row-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
  }
.forte-card{
  border: 4px solid #600b63;
  background-color: #7e0782;
  color: white;
  border-radius: 20px;
  width: auto;
  padding: 60px 20px 60px 20px;
  text-align: center;
}
.forte-card:hover{
  background-image: linear-gradient(to bottom right, rgb(121, 50, 233), rgb(83, 22, 77));
  border: 4px solid #3a343a;
  box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
}
  

.forte-card-wrapper{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 40px
}
.portfolio-gallery{
  display: grid;
grid-template-columns: auto auto;
grid-template-rows: auto auto;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}
.portfolio-item{
  border: 4px solid #600b63;
  background-color: #7d0f81;
  color: white;
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgb(45, 25, 25), 0 6px 20px 0 rgb(45, 25, 25);
  width: 1000px;
        }
        .white_color_a{
          color: white;
          text-decoration: none;
          padding: 10px 20px 10px 20px;
          font-size: 20px;
border: 1px solid white;
border-radius: 12px;
margin-top: 30px;
          display: inline-block;
          }
          .white_color_a:hover{
            background-image: linear-gradient(to bottom right, rgb(12, 147, 231), rgb(176, 30, 161));
            box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
            color: white;
        }
        .portofoliu{
          display: flex;
          flex-direction: column;
          justify-content: center;  
          align-items: center;
          margin-top: 60px;
        }