.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 80px;
    background-color: rgb(121, 50, 233);
}

.logo-menu {
  display: inline-block;
  height: 76px;
  margin-top: 2px;
  padding: 0px 15px;
}

.menu {
  margin: 0px;
  padding: 0px;
}

.menu-item{
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
}
.menu-item:hover ul{display: block;
}
.menu-item:hover {
    background-color: #7e0782;
}


.menu-item a{
    color: beige;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
}
.dropdown-list{
    position: absolute;
    left: -60%;
    display: none;
    padding: 0;
    
}
.dropdown-item{
    background-color:rgb(121, 50, 233);
    width: 180px;
    color: white;
}
.dropdown-item:hover {
  background-color: #7e0782;
}
.review-img {
  width: 100px;
  height: 100px;
object-fit:contain;
}
.proj-img {
  height: 400px;;
  object-fit: cover;}

  .main-content{
    margin: 0 0 0 0;
    margin-top: 80px;
  height: 100%;
  width: 100%;
  margin: 0;
  color: white;
  text-align: center;
  font-family: roboto, sans-serif;
  z-index:0 ;
}
.main-img{
  position: absolute;
  height: 1000px;
  width: 100%;
  object-position: center;
  object-fit: cover;
  top: 0px;
  left: 0;
  z-index: -2;
}
.main-img-overlay{
  height: 1000px;
  width: 100%;
  z-index: -1;
  background-color: rgb(12, 12, 12);
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.5;
}
.main-info{
  margin-top: 200px;
  width: 100%;
}
.main-header{
  margin-top: 0;
  font-weight: bold;
 font-size: 50px;}

.main-txt{
  font-size: 28px;
 overflow: hidden;
  text-overflow: ellipsis;
}
.main-btn{
  background-color: rgb(83, 22, 77);
  border: none;
  color: white;
text-align: center;
text-decoration: none;
  border-radius: 15px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
padding: 15px 32px;
box-shadow: 0 8px 16px 0 rgb(45, 25, 25), 0 6px 20px 0 rgb(45, 25, 25);
}
.main-btn:hover {
  background-image: linear-gradient(to bottom right, rgb(121, 50, 233), rgb(83, 22, 77));
box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
  color: white;}




  .Servicii-row{
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
    display: grid;
    align-content: space-evenly;
   
  }
 .div-column{
  text-align: center;
  border: 4px solid rgb(254, 254, 254);
  border-radius: 12px;
  padding: 10px 10px 20px 10px;
 } 
.l-grad{
  background-image: linear-gradient(to bottom right, rgba(120, 50, 233, 0.148), rgb(180, 89, 169));
  border-radius: 10px;

}




table, tr,th, td{
  border:2px solid rgb(255, 255, 255);
  border-collapse: collapse;
}
table{
  width: 100%;
  height: 100%;
}
th{
  background-color:rgb(173, 34, 154) ;
  height: 80px;
  color: white;
  font-size: x-large;
}
td{
  background-color: rgba(211, 142, 240, 0.506);
  margin: 20px 20px 20px 20px;
  height: 50px;
  text-align: center;
}



li{
 list-style: none;
}
.bold-title-td{
  font-weight: bold;
  font-size: large;
}
.service-card-btn{
  background-color: rgb(83, 22, 77);
  border: none;
  color: white;
text-align: center;
text-decoration: none;
  border-radius: 15px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
padding: 15px 32px;
box-shadow: 0 8px 16px 0 rgb(201, 129, 213), 0 6px 20px 0 rgb(45, 25, 25);
}
.service-card-btn:hover { 
 background-image: linear-gradient(to bottom right, rgb(121, 50, 233), rgb(83, 22, 77));
box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
  color: white;}
  .div-column p{
    font-size: 18px;
    font-weight: 600;
  }